<app-header-front></app-header-front>
<div class="complaint-container">
    <h2>{{ selectedComplaint ? 'Edit Complaint' : 'Add New Complaint' }}</h2>
    <form [formGroup]="complaintForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" formControlName="title" class="form-control" placeholder="Enter title">
        <div *ngIf="complaintForm.get('title')?.errors?.['required'] && complaintForm.get('title')?.touched" class="error">
          Title is required.
        </div>
      </div>
  
      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" formControlName="description" class="form-control" rows="3" placeholder="Enter description"></textarea>
        <div *ngIf="complaintForm.get('description')?.errors?.['required'] && complaintForm.get('description')?.touched" class="error">
          Description is required.
        </div>
        <div *ngIf="complaintForm.get('description')?.errors?.['minlength'] && complaintForm.get('description')?.touched" class="error">
          Description must be at least 5 characters.
        </div>
      </div>
  
      <div class="form-group">
        <label for="category">Category</label>
        <input type="text" id="category" formControlName="category" class="form-control" placeholder="Enter category">
      </div>
  
      <div class="form-group">
        <label for="status">Status</label>
        <select id="status" formControlName="status" class="form-control">
          <option value="OPEN">Open</option>
          <option value="IN_PROGRESS">In Progress</option>
          <option value="CLOSED">Closed</option>
        </select>
      </div>
  
      <button type="submit" class="btn-primary" [disabled]="!complaintForm.valid">
        {{ selectedComplaint ? 'Update Complaint' : 'Add Complaint' }}
      </button>
      <button type="button" class="btn-secondary" (click)="cancelEdit()" *ngIf="selectedComplaint">Cancel Edit</button>
    </form>
  
    <h2>Existing Complaints</h2>
    <ul class="list-group">
      <li *ngFor="let complaint of complaints" class="list-group-item">
        {{ complaint.title }} -  {{ complaint.description }} - {{ complaint.status }}
        <button type="button" class="btn-secondary" (click)="editComplaint(complaint)">Edit</button>
        <button type="button" class="btn-danger" (click)="deleteComplaint(complaint.id!)">Delete</button>
      </li>
    </ul>
  </div>
  
<app-footer-front></app-footer-front>
