<app-header-front></app-header-front>
<button class="btn btn-success mb-3" [routerLink]="['/leaveadd']">Ajouter</button>
<h2>Liste des demandes de congé</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Date de début</th>
        <th>Date de fin</th>
        <th>Motif</th>
        <th>Statut</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let leave of leaves">
        <td>{{ leave.startDate }}</td>
        <td>{{ leave.endDate }}</td>
        <td>{{ leave.reason }}</td>
        <td>{{ leave.status }}</td>
        <td>
            <button *ngIf="leave.status === 'PENDING'" class="btn btn-warning" (click)="editLeave(leave.id!)">Modifier</button>
            <button *ngIf="leave.status === 'PENDING'" class="btn btn-danger" (click)="deleteLeave(leave.id!)">Supprimer</button>
          </td>
      </tr>
    </tbody>
  </table>

<app-footer-front></app-footer-front>
