<!-- ad-edit.component.html -->
<app-header-front></app-header-front>

<div class="edit-ad-container">
  <h1>Edit Advertisement</h1>
  <form [formGroup]="adForm" (ngSubmit)="onSubmit()">
    <label for="title">Title:</label>
    <input id="title" type="text" formControlName="title" required>

    <label for="description">Description:</label>
    <textarea id="description" formControlName="description" required></textarea>

    <label for="image">Image URL:</label>
    <input id="image" type="text" formControlName="image">

    

    <label for="category">Category:</label>
    <input id="category" type="text" formControlName="category">

    <label for="startDate">Start Date:</label>
    <input id="startDate" type="date" formControlName="startDate" required>

    <label for="endDate">End Date:</label>
    <input id="endDate" type="date" formControlName="endDate" required>

    <label for="status">Status:</label>
    <select id="status" formControlName="status">
      <option value="PENDING">Pending</option>
      <option value="APPROVED">Approved</option>
      <option value="REJECTED">Rejected</option>
    </select>

    <button type="submit" [disabled]="!adForm.valid">Update Ad</button>
  </form>
</div>

<app-footer-front></app-footer-front>
