<!-- ad-list.component.html -->
<app-header-front></app-header-front>
<h1 class="ads-title">Advertisements</h1> <!-- Title for the advertisement section -->

<div class="ads-container">

  <div *ngIf="ads.length === 0" class="no-ads">
    No ads available.
  </div>

  <div *ngFor="let ad of ads" class="ad-card">
    <img [src]="ad.image" alt="Ad Image" onerror="this.src='assets/default-image.png';" class="ad-image">
    <div class="ad-content">
      <h3>{{ ad.title }}</h3>
      <p>{{ ad.description }}</p>
      <div class="ad-details">
        <span>Start: {{ ad.startDate | date:'mediumDate' }}</span>
        <span>End: {{ ad.endDate | date:'mediumDate' }}</span>
      </div>
      <div class="ad-actions">
        <button [routerLink]="['/editad', ad.id]" *ngIf="allowEdit">Modifier</button>
        <button (click)="ad.id ? deleteAd(ad.id) : null">Supprimer</button>
      </div>
    </div>
  </div>
</div>

<app-footer-front></app-footer-front>
