<app-header-front></app-header-front>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<h1 class="text-center my-4">Advertisements</h1> <!-- Title for the advertisement section -->

<!-- Add Create Ad Button -->
<div class="text-center mb-4">
  <button class="btn btn-primary" routerLink="/crad"><i class="fas fa-plus"></i> Create Ad</button>
</div>

<div class="container">
  <div class="row">
    <!-- No ads message -->
    <div *ngIf="ads.length === 0" class="col-12 text-center">
      No ads available.
    </div>

    <!-- Ads cards -->
    <div *ngFor="let ad of ads" class="col-md-4 mb-4">
      <div class="card h-100">
        <img *ngIf="ad.image" [src]="'data:image/jpeg;base64,' + ad.image" class="card-img-top" alt="{{ ad.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ ad.title }}</h5>
          <p class="card-text">{{ ad.description }}</p>
          <div class="text-muted">
            <small>Start: {{ ad.startDate | date:'mediumDate' }}</small><br>
            <small>End: {{ ad.endDate | date:'mediumDate' }}</small>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-between flex-wrap">
          <button class="btn btn-danger flex-fill mr-1 mb-1" (click)="ad.id ? deleteAd(ad.id) : null"><i class="fas fa-trash"></i> Delete</button>
          <button class="btn btn-secondary flex-fill mr-1 mb-1" (click)="editAd(ad.id!)"><i class="fas fa-edit"></i> Edit</button>
          <button class="btn btn-info flex-fill" *ngIf="ad.id" (click)="goToAdDetails(ad.id)"><i class="fas fa-info-circle"></i> View Details</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer-front></app-footer-front>
