<div class="recommendations-container">
  <h2>🔥 Recommandations for you</h2>

  <div *ngIf="recommendations.length === 0">
    <p>😕 Aucune recommandation pour l’instant.</p>
  </div>

  <div class="product-grid" *ngIf="recommendations.length > 0">
    <div class="product-card" *ngFor="let product of recommendations">
      <img [src]="'data:image/jpeg;base64,' + product.image" alt="{{ product.name }}" />
      <h4>{{ product.name }}</h4>
      <p>{{ product.price }} €</p>
    </div>
  </div>
</div>
