<!-- src/app/product-create/product-create.component.html -->
<app-header-front></app-header-front>
<div class="container">
  <h2>Ajouter un produit</h2>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nom</label>
      <input id="name" formControlName="name" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" formControlName="description" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <label for="price">Prix</label>
      <input id="price" type="number" formControlName="price" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="stockQuantity">Quantité en stock</label>
      <input id="stockQuantity" type="number" formControlName="stockQuantity" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="category">Catégorie</label>
      <select id="category" formControlName="category" class="form-control" required>
        <option value="" disabled selected>Choisir une catégorie</option>
        <option *ngFor="let cat of categories" [value]="cat">{{ cat }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="image">Image du produit</label>
      <input id="image" type="file" (change)="onFileSelected($event)" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Créer</button>
  </form>
</div>

<app-footer-front></app-footer-front>
