<app-header-front></app-header-front>

<div class="container">
  <h2>Demande de Congé</h2>
  
  <form [formGroup]="leaveForm" (ngSubmit)="selectedLeave ? updateLeave() : onSubmit()">
    
    <!-- Date de début -->
    <div class="form-group">
      <label for="startDate">Date de début</label>
      <input id="startDate" type="date" formControlName="startDate" class="form-control" required>
    </div>

    <!-- Date de fin -->
    <div class="form-group">
      <label for="endDate">Date de fin</label>
      <input id="endDate" type="date" formControlName="endDate" class="form-control" required>
    </div>

    <!-- Raison du congé -->
    <div class="form-group">
      <label for="reason">Raison</label>
      <textarea id="reason" formControlName="reason" class="form-control" required></textarea>
    </div>

    <!-- Statut -->
    <div class="form-group">
      <label for="status">Statut</label>
      <select id="status" formControlName="status" class="form-control">
        <option value="PENDING">En attente</option>
        <option value="APPROVED">Approuvé</option>
        <option value="REJECTED">Rejeté</option>
      </select>
    </div>

    <!-- Boutons d'action -->
    <button type="submit" class="btn btn-primary" [disabled]="leaveForm.invalid">
      {{ selectedLeave ? 'Mettre à Jour' : 'Soumettre' }}
    </button>

    <button *ngIf="selectedLeave" type="button" class="btn btn-secondary" (click)="cancelEdit()">
      Annuler
    </button>

  </form>

  <hr>

  <h2>Liste des demandes de congé</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Date de début</th>
        <th>Date de fin</th>
        <th>Motif</th>
        <th>Statut</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let leave of leaves">
        <td>{{ leave.startDate }}</td>
        <td>{{ leave.endDate }}</td>
        <td>{{ leave.reason }}</td>
        <td>{{ leave.status }}</td>
        <td>
          <button class="btn btn-warning" (click)="editLeave(leave)">Modifier</button>
          <button class="btn btn-danger" (click)="deleteLeave(leave.id!)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-footer-front></app-footer-front>
