<app-header-front></app-header-front>

<div class="container">
  <h2>Demande de Congé</h2>
  
  <form [formGroup]="leaveForm" (ngSubmit)="selectedLeave ? updateLeave() : onSubmit()">
    
    <!-- Date de début -->
    <div class="form-group">
      <label for="startDate">Date de début</label>
      <input id="startDate" type="date" formControlName="startDate" class="form-control" required>
    </div>

    <!-- Date de fin -->
    <div class="form-group">
      <label for="endDate">Date de fin</label>
      <input id="endDate" type="date" formControlName="endDate" class="form-control" required>
    </div>

    <!-- Raison du congé -->
    <div class="form-group">
      <label for="reason">Raison</label>
      <textarea id="reason" formControlName="reason" class="form-control" required></textarea>
    </div>

    <!-- Boutons d'action -->
    <button type="submit" class="btn btn-primary" [disabled]="leaveForm.invalid">
      {{ selectedLeave ? 'Mettre à Jour' : 'Soumettre' }}
    </button>

    <button *ngIf="selectedLeave" type="button" class="btn btn-secondary" (click)="cancelEdit()">
      Annuler
    </button>

  </form>
  <button class="btn btn-success mb-3" [routerLink]="['/leave']">Return</button>
</div>

<app-footer-front></app-footer-front>
